cryptomus==1.1
docker==6.0.1
emoji==2.2.0
hcloud==1.18.2
mixpanel==4.10.0
mysql-connector==2.2.9
oauthlib==3.2.0
protobuf==3.12.4
pyTelegramBotAPI==4.10.0
requests==2.28.2
telebot==0.0.5
paramiko==2.9.3
PySocks==1.7.1
google-cloud-storage==2.10.0
uuid==1.30